<article class="sidebar">
  <h1 class="sidebar-title">Emirates chants!</h1>
  <ul class="sidebar-body">
    <li>She wore a Yellow Ribbon</li>
    <li>One Nil to the Arsenal</li>
    <li>What do we think of Tottenham</li>
    <li>Mesut Ozil! Mesut Ozil</li>
  </ul>
</article><!-- article -->
