<div class="maincontent">
  <article class="article">
    <h1 class="article-title">The Big stadiums of THE PREMIER LEAGUE</h1>
    <p>Since the inception of the Premier League, England's highest level of association football annual league tournament, 58 football stadiums have been used to host matches. The inaugural round of Premier League matches took place on 15 August 1992 with eleven clubs hosting the opening fixtures.Following the Hillsborough Disaster in 1989, the Taylor Report recommended the abolition of standing terraces by the start of the 1994–95 season, to be replaced by all-seater stadiums.However, following Fulham's promotion from Division 1 in the 2000–01 season, terraces returned temporarily to the Premier League as The Football Association allowed the club extra time to complete renovations.The club were forced to play at Loftus Road after inadequate progress was made in converting Craven Cottage, but they returned to their home ground after building work was completed in time for the 2004–05 season.

Burnley's Turf Moor stadium became the 50th Premier League stadium when it hosted Burnley's first ever home Premier League fixture, against champions Manchester United, on 19 August 2009. Wembley Stadium became the most recent Premier League venue when it hosted Tottenham Hotspur's fixture against Chelsea on 20 August 2017. Wembley Stadium is the biggest stadium in the Premier League, while Bournemouth's Dean Court is the smallest.
    </p>
    <p>Check out the stadiums listed above!</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Come on you Gunners!!!</h1>
    <p>As an Arsenal fan (we call ourselvers "Gooners"),it is a dream to visit the Emirates stadium and the old Highbury stadium! The feeling will be wonderful! </p>
  </article><!-- article -->

</div>
