<article class="sidebar">
  <h1 class="sidebar-title">BTW</h1>
  <p class="sidebar-body">You should check out the special chants/songs of these clubs and stadiums</p>
  <div class="pixgrid clearfix">
    <src class="dropdown-item" href="<%= item.image %>"></a>
    </div>
  </article>
