<header>
  <div class="jumbotron d-none d-md-block">
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="navbar navbar-expand-lg">
      <a href="/" class="navbar-brand"><div> Premier League Stadiums </div></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"><div>Home</div></a>
        </li>
        <li class="nav-item">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Highlights</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/highlights">All Highlights</a>
              <div class="dropdown-divider"></div>
              <% allHighlights.forEach(function(item){ %>
                <a class="dropdown-item" href="/highlights/<%= item.id %>"><%= item.site %></a>
                <% }); %>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
